import(lmom)
import(stats)
importFrom(graphics, matlines)
useDynLib(lmomRFA, .registration=TRUE, .fixes="RegSym_")
export(cluagg)
export(cluinf)
export(clukm)
export(reglmr)
export(as.regdata)
export(regsamlmu)
export(regavlmom)
export(regtst)
export(regtst.s)
export(regfit)
export(regqfunc)
export(siteqfunc)
export(regquant)
export(sitequant)
export(regsimh)
export(regsimq)
export(regquantbounds)
export(sitequantbounds)
export(evplot.rfd)
S3method(evplot, "rfd")
S3method(print, "regtst")
S3method(summary, "regtst")
S3method(print, "summary.regtst")
S3method(print, "rfd")
S3method(print, "regsimh")
S3method(print, "regsimq")
